<!-- Título -->
<h2>Taller 4 - Computación gráfica</h2>

<!-- Párrafos -->
<p class="parrafo1">Presentado por: Valentina Melo Solarte</p>
<p class="parrafo2">Martes 3 de septiembre de 2025</p>

<!-- Lista con Links -->
<ul>
  <li><a href="https://instagram.com/keki_keki_pasto" target="_blank">Keki keki</a></li>
  <li><a href="https://www.youtube.com/@julianapostres" target="_blank">Juliana Postres (Recetas)</a></li>
  <li><a href="https://www.netflix.com" target="_blank">Netflix</a></li>
</ul>

<!-- Tabla -->
<table>
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone</td>
    <td>2</td>
    <td>$2.000.000</td>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table>

<app-contenedor></app-contenedor>



