/* You can add global styles to this file, and also import other style files */
:root{
    --color-primario: #ffffff; /* definición de variables de estilo */
    --color-fondos: #cb1d1d;
    --color-2: #73a969;
    --color-3: #1DB800;
    --border-radius-1: .25rem;
    --font-size: 1rem;
    --font-family-1: 'Roboto', 'sans-serif';

}


html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primario);
    color: var(--color-3);
    font-size: var(--font-size);
    font-family: var(--font-family-1);
}