<div class="card flex justify-center">
    <div class="flex flex-wrap gap-4">
        <div class="flex items-center">
            <p-radiobutton name="pizza" value="Si" [(ngModel)]="ingredient" inputId="ingredient1" />
            <label for="ingredient1" class="ml-2">Tarjeta</label>
        </div>

        <div class="flex items-center">
            <p-radiobutton name="pizza" value="No" [(ngModel)]="ingredient" inputId="ingredient2" />
            <label for="ingredient2" class="ml-2">Caja personalizada</label>
        </div>
    </div>
</div>